.sellers{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 100px 70px 121px 70px;

  &__title-wrap{
    max-width: 369px;
    width: 369px;
    margin-right: 63px;
  }

  &__title{
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
  }

  &__subtitle{
    color:$hover-link;
    font-size:14px; 
    line-height: 22px;
    font-style: italic;
    padding-bottom: 25px;
  }

  &__desc{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__products-wrap{
    width: 100%;
  }

  &__product-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__product-item{
    width: 25%;
    max-width: 325px;
    min-height: 556px;
    margin-right: 30px;
    box-shadow: 0px 0px 6px 0px black;


    &:last-child{
      margin-right: 0;
    }
  }

  &__product-img{
    width: 100%;
    height: 450px;
    max-height: 450px;
    position: relative;
    margin-bottom: 23px;

      img{
        width:100%;
        height:100%;
        object-fit: cover; 
      }

      &:hover .sellers__product-social{
        opacity: 1;
      }
  }

  &__product-social{
    opacity: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.6s ease-out all;

    li{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: 10px;
      background-color:$hover-link;
     
      a{
        color:$link-color;
        font-size: 16px;
        

        &:hover{
          transition: 0.6s ease-out all;
          color:#292b2c;
        }
      }
    }
  }

  &__new-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color:$link-color;
    background-color:$hover-link;
    text-transform: uppercase;
    position: absolute;
    width: 70px;
    height: 40px;
    top: 10px;
    left: 0;
  }

  &__product-content{
    width: 100%;
  }

  &__product-title{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;

    a{
      color:black;
      text-decoration: none;
      transition: 0.2s ease-out all;

      &:hover{
        transition: 0.2s ease-out all;
        color:$hover-link;
      }
    }
  }

  &__product-price{
    // скачать шрифт под цену!!!
    font-size: 18px;
    color:$hover-link;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  &__product-rating{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;

    li{
      cursor: pointer;
      color:#ff9600;
    }
  }
  
}
