.footer {
  width: 100%;

  &__social {
    border-bottom: 1px solid #eeeeee;

    &-inner-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-text {
      // добавить шрифт Roboto regular
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }

    &-list {
      min-width: 339px;
      height: 59px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
      width: 30px;
      height: 30px;

      &:hover a {
        transition: 0.3s linear all;
        color: $hover-link;
      }

      a {
        width: 100%;
        height: 100%;
        color: #333333;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__navbar {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 72px;

    &-title {
      display: block;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins" sans-serif;
      padding-bottom: 29px;
    }
    &-inner-wrap {
      display: flex;
      justify-content: space-evenly;
    }

    &-blocks {
      min-height: 198px;
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 19px;

      a {
        color: #333333;
        text-decoration: none;

        &:hover {
          color: $hover-link;
        }

        &:focus {
          outline: none;
          color: $hover-link;
          padding-bottom: 5px;
          border-bottom: 1px solid $hover-link;
        }
      }
    }

    &-icon {
      margin-right: 5px;
      color: #333333;
    }

    &-blocks_contact {
      li {
        margin-bottom: 30px;
      }
    }
  }
}

.copyright {
  background-color: black;
  padding: 15px 0px;
  color: white;

  &__inner-wrap {
    display: flex;
    justify-content: space-around;
  }

  &__text {
    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
    color: #777777;
  }

  &__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__card-item {
    margin-right: 15px;
  }
}
