.categories {
  border:1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // min-height: 640px;
  &__item{
    border: 3px solid green;
    width: 640px;
      height: 640px;
    background-size:cover;
  }

  &__link{

    border:4px solid red;

    img{
      width: 100%;
      height: 640px;
      background-size: contain;
    }
  }
}


.cont{
  display: flex;
  width: 100%;
  border:1px solid black;
}
.test-img {
  width: 640px;
  height: 640px;
  border:1px solid red;
}